<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create a new user</h1>
    <form action="/adduser" method="post">
		  <input type="text" name="username" placeholder="username">
		  <input type="text" name="useremail" placeholder="email">
		  <input type="submit" value="Submit">
		</form>
		<a href="/userlist">Back to user list</a>
  </body>
</html>
